@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Hide scrollbar for horizontal scroll elements */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Slick Slider Custom Styles */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide.slick-active {
  display: block;
}

.slick-dots {
  list-style: none;
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.slick-dots li {
  margin: 0 4px;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-arrow {
  display: none !important;
}

@media (min-width: 768px) {
  .slick-arrow {
    display: flex !important;
  }
}